version: '3.9'

services:

    #api1
    api-01:
        container_name: rinha-backend-api-01
        build:
            context: .
            dockerfile: Dockerfile
        environment:
            HTTP_PORT: 9501
            APP_NAME: skeleton
            APP_ENV: dev
            DB_DRIVER: pgsql
            DB_HOST: localhost
            DB_PORT: 5432
            DB_DATABASE: rinha-backend-db
            DB_USERNAME: rinha
            DB_PASSWORD: postgres
            REDIS_HOST: localhost
            REDIS_PORT: 6379
        volumes:
            - ./:/app
        depends_on:
            - db
            - redis
        command: bash -c "php bin/hyperf.php start"
        network_mode: host
        deploy:
            resources:
                limits:
                    cpus: '0.4'
                    memory: '0.3GB'

    #api1
    api-02:
        container_name: rinha-backend-api-02
        build:
            context: .
            dockerfile: Dockerfile
        environment:
            HTTP_PORT: 9502
            APP_NAME: skeleton
            APP_ENV: dev
            DB_DRIVER: pgsql
            DB_HOST: localhost
            DB_PORT: 5432
            DB_DATABASE: rinha-backend-db
            DB_USERNAME: rinha
            DB_PASSWORD: postgres
            REDIS_HOST: localhost
            REDIS_PORT: 6379
        volumes:
            - ./:/app
        depends_on:
            - db
            - redis
        command: bash -c "php bin/hyperf.php start"
        network_mode: host
        deploy:
            resources:
                limits:
                    cpus: '0.4'
                    memory: '0.3GB'

    # postgres
    db:
        container_name: rinha-backend-db
        image: postgres:15.4
        environment:
            POSTGRES_DB: rinha-backend-db
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: rinha
        volumes:
            - ./docker/postgres/postgres.conf:/etc/postgresql.conf
            - ./docker/postgres/db.sql:/docker-entrypoint-initdb.d/db.sql
        command: 'postgres -c config_file="/etc/postgresql.conf" -c "max_connections=450"'
        network_mode: host
        deploy:
            resources:
                limits:
                    cpus: '0.5'
                    memory: '1.1GB'

  # nginx
    nginx:
        container_name: rinha-backend-nginx
        image: nginx:alpine
        volumes:
            - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
        network_mode: host
        depends_on:
            - api-01
            - api-02
        deploy:
            resources:
                limits:
                    cpus: '0.1'
                    memory: '0.2GB'

    # redis
    redis:
        container_name: rinha-backend-redis
        image: redis:latest
        command: redis-server --save "" --appendonly no --maxclients 20000
        network_mode: host
        deploy:
            resources:
                limits:
                    cpus: '0.1'
                    memory: '0.2GB'
